.reset-password-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f4f6;
    z-index: 100;
}

.crad-reset-password{
    width: 100%;
    max-width: 900px;
    display: flex;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);  
}

.form-box-reset-password{
    padding: 2rem 2.5rem;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
}

.form-box-reset-password h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: rgb(53, 131, 164);
}

.form-box-reset-password form {
    display: flex;
    flex-direction: column;
}

.form-box-reset-password input {
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 0.85rem;
}

.form-box-reset-password input:focus {
    outline: none;
    border-color: rgb(53, 131, 164);
    box-shadow: 0 0 5px rgba(53, 131, 164, 0.5);
}

.form-box-reset-password button {
    padding: 0.75rem;
    background-color: rgb(53, 131, 164);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.form-box-reset-password button:hover {
    background-color: rgb(96, 175, 208);
}

.form-box-reset-password p {
    margin-top: 1rem;
    text-align: center;
}

.back-to-login {
    color: rgb(53, 131, 164);
    cursor: pointer;
    font-weight: 500;
    margin-left: 0.3rem;
}

.image-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 5rem;
    /* background-color: #2563eb; */
}

.image-box img{
    width: 300px;
    height: 300px;
    border-radius: 12px;
}

.image-box h1{
    color: rgb(53, 131, 164);
    font-size: 2rem;
}